#         _ _   _
#    __ _(_) |_(_) __ _ _ __   ___  _ __ ___
#   / _` | | __| |/ _` | '_ \ / _ \| '__/ _ \
#  | (_| | | |_| | (_| | | | | (_) | | |  __/
# (_)__, |_|\__|_|\__, |_| |_|\___/|_|  \___|
#   |___/         |___/
#
# As we need to filter out any sensitive/unnecessary information
# form posting in our dotfiles repo.

#___________ Global Rules ____________
*.bin
*cache*
*Cache*
*Cookies*
*cookie*
*Token*
*token*
*languagepack*
*.db
.env*
*storage*
*Storage*
*database*
*.log
*log*
*tmp
*.tmp*
*LICENSE*
*.*zcompdump*
*trash
*runtime
*LOG
build/
node_modules/
.docusaurus/
.DS_Store
Trash
KireiSakura-Kit
nohup.*


#________________ MyDE Dir _______________

.dierctory


#___________ Home Directory ($HOME) ____________

# Firefox and Forks
dots/.librewolf/*/*
!dots/.librewolf/*/chrome
!dots/.librewolf/*/addons.json
!dots/.librewolf/*/containers.json
!dots/.librewolf/*/extension*.json
!dots/.librewolf/*/handlesr.json
!dots/.librewolf/*/prefs.js
!dots/.librewolf/*/shield-preference-experiments.json
!dots/.librewolf/*/xulstore.json
!dots/.librewolf/*/handlers.json

dots/.mozilla/firefox/*

# Icons
dots/.icons/default

# Pictures
dots/Pictures

# Zen Browser
dots/.zen/*/*
!dots/.zen/*/chrome
!dots/.zen/*/chrome/zen-themes.css
!dots/.zen/*/addons.json
!dots/.zen/*/containers.json
!dots/.zen/*/extension*.json
!dots/.zen/*/handlers.json
!dots/.zen/*/prefs.js
!dots/.zen/*/shield-preference-experiments.json
!dots/.zen/*/xulstore.json
!dots/.zen/*/zen-themes.json
!dots/.zen/*/zen-keyboard-shortcuts.json
!dots/.zen/*/zen-workspaces

#___________ .cache Directory ____________

# AGS Cache
!dots/.cache
dots/.cache/*
!dots/.cache/ags
!dots/.cache/.placeholder
dots/.cache/ags/*
!dots/.cache/ags/hyprpanel

#___________ .config Directory ____________

# Standalone files
dots/.config/*partrc
dots/.config/baloofileinformationrc
dots/.config/kactivitymanagerdrc
dots/.config/knfsshare
dots/.config/ktorrent_infowidgetrc
dots/.config/QtProject.conf
dots/.config/user-dirs.locale

# Brave Browser
dots/.config/BraveSoftware/Brave-Browser/*
!dots/.config/BraveSoftware/Brave-Browser/Default/Preferences
!dots/.config/BraveSoftware/Brave-Browser/NativeMessagingHosts

# Chromium
dots/.config/chromium/

# CopyQ
dots/.config/copyq/*
!dots/.config/copyq/copyq.conf
!dots/.config/copyq/copyq-commands.ini

# Dconf
dots/.config/dconf

# Discord canary
dots/.config/discordcanary

# Enchant
dots/.config/enchant

# Geany
dots/.config/geany/

# GitHub CLI (gh)
dots/.config/gh/*
!dots/.config/gh/config.yml

# HandBrake (ghb)
dots/.config/ghb/*
!dots/.config/ghb/preferences.json
!dots/.config/ghb/presets.json

# gimp
dots/.config/GIMP/**/backups
dots/.config/GIMP/**/CrashLog
dots/.config/GIMP/**/internal-data
dots/.config/GIMP/**/fonts
dots/.config/GIMP/**/action-history
dots/.config/GIMP/**/sessionrc
dots/.config/GIMP/**/unitrc
dots/.config/GIMP/**/pluginrc
dots/.config/GIMP/**/parasiterc
dots/.config/GIMP/**/dockrc

# Github Copilot
dots/.config/GitHub Desktop/*
!dots/.config/GitHub Desktop/.title-bar-config
!dots/.config/GitHub Desktop/Preferences

# Github Copilot
dots/.config/github-copilot

# GNOME
dots/.config/gnome-boxes

# Go
dots/.config/go

# KDE
dots/.config/KDE/UserFeedback*
dots/.config/kde*/UserFeedback*
dots/.config/kdeconnect

# LibreOffice
dots/.config/libaccounts-glib
dots/.config/libvirt
dots/.config/libreoffice/4/*
!dots/.config/libreoffice/4/user
dots/.config/libreoffice/4/user/*
!dots/.config/libreoffice/4/user/pack
dots/.config/libreoffice/4/user/pack/registrymodifications.pack
!dots/.config/libreoffice/4/user/registrymodifications.xcu

# Media Players
dots/.config/mpv/playlists
dots/.config/mpv/watch_later
dots/.config/vlc/vlc-qt-interface.conf

# MKVToolNix
dots/.config/bunkus.org/mkvtoolnix-gui/*
!dots/.config/bunkus.org/mkvtoolnix-gui/mkvtoolnix-gui.ini

# Neovim
dots/.config/nvim/.neoconf.json


# OBS Studio
dots/.config/obs-studio/basic/profiles/*/phld
dots/.config/obs-studio/basic/scenes/*.json
dots/.config/obs-studio/plugin_config
dots/.config/obs-studio/profiler_data
dots/.config/obs-studio/basic/scenes/Untitled.json.bak

# Obsidian
dots/.config/obsidian/*

# Spicetify
dots/.config/spicetify/CustomApps
dots/.config/spicetify/Extracted

# VirtualBox
dots/.config/VirtualBox/*
!dots/.config/VirtualBox/VirtualBox.xml

# VS Code and Forks
dots/.config/Code/*
dots/.config/Code/User/*
!dots/.config/Code/Preferences
!dots/.config/Code/User
!dots/.config/Code/User/keybindings.json
!dots/.config/Code/User/settings.json
!dots/.config/Code/User/snippets

dots/.config/VSCodium/*
dots/.config/VSCodium/User/*
!dots/.config/VSCodium/Preferences
!dots/.config/VSCodium/User
!dots/.config/VSCodium/User/keybindings.json
!dots/.config/VSCodium/User/settings.json
!dots/.config/VSCodium/User/snippets

# WebCord
dots/.config/WebCord/*

# Youtube Music
dots/.config/YouTube Music/*
!dots/.config/YouTube Music/config.json
!dots/.config/YouTube Music/Preferences

#xfce4
dots/.config/xfce4/help.rc

# Yazi
dots/.config/yazi/plugins

# ZSH
dots/.config/zsh/zinit
dots/.config/zsh/*history*

#___________ .local Directory ____________

#------ Bin ------
dots/.local/bin/*
!dots/.local/bin/myde
!dots/.local/bin/run-code
!dots/.local/bin/kireisakura

#------ Share ------
dots/.local/share/*

!dots/.local/share/applications
!dots/.local/share/firefoxpwa
!dots/.local/share/konsole
!dots/.local/share/media-downloader
!dots/.local/share/nwg-look
!dots/.local/share/onboard
!dots/.local/share/ss
!dots/.local/share/templates
!dots/.local/share/color-schemes

# Qalculate
!dots/.local/share/qalculate
dots/.config/qalculate/*.history

# 64Gram
dots/.local/share/64Gram/logs*
dots/.local/share/64Gram/tdata/*
!dots/.local/share/64Gram/tdata/enhanced-settings-custom.json
!dots/.local/share/64Gram/tdata/shortcuts-custom.json

# Dolphin and KDE apps
dots/.local/share/dolphin/kuserfeedback
dots/.local/share/dolphin/bookmarks.xml
dots/.local/share/konsole/bookmarks.xml

# Flatpak
dots/.local/share/flatpak/*
!dots/.local/share/flatpak/overrides

# Media Downloader
dots/.local/share/media-downloader/bin
dots/.local/share/media-downloader/data
dots/.local/share/media-downloader/engines.v1

# Plasma Desktop
dots/.local/share/plasma/containmentpreviews
dots/.local/share/plasma/plasmoids
dots/.local/share/plasma/desktoptheme/Colloid-dark-nord
dots/.local/share/plasma/desktoptheme/N-Plasma-Theme
dots/.local/share/plasma/desktoptheme/Nordic-round
dots/.local/share/plasma/desktoptheme/Nordic-Solid
dots/.local/share/plasma/desktoptheme/Wings-Dark-Plasma
dots/.local/share/plasma/look-and-feel
dots/.local/share/konsole/konsolestaterc

# ------ state -----
dots/.local/state

# ------- Misc -----
dots/.config/Ladybird/BrowserContentFilters.txt
